<div class="main">
  <mat-list role="list">
    <mat-list-item>1. Zaloguj się do PLP.</mat-list-item>
    <mat-list-item>2. Wciśnij F12.</mat-list-item>
    <mat-list-item>3. Wejdź w zakładkę network.</mat-list-item>
    <mat-list-item>4. Zaznacz opcję XHR.</mat-list-item>
    <mat-list-item>5. Odśwież stronę (F5).</mat-list-item>
    <mat-list-item>6. Na liście kliknij 'lifescores'.</mat-list-item>
    <mat-list-item>7. Zaznacz zakładkę 'Response'.</mat-list-item>
    <mat-list-item>8. Skopiuj ten ciąg tesktowy.'.</mat-list-item>
    <mat-list-item>9. Wklej i wcisnij "Generate".</mat-list-item>
  </mat-list>

  <div>
    <img alt="info" src="assets/how_to_click.png">
  </div>
</div>









