.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.area {
  min-width: 400px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.graph {
  width: 800px;
  height: 500px;
  margin: 15px;
}
